.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#Idea files
/.idea
/out

#Important files
/src/main/resources/data/files
/data/files
Log.txt
*.lck
*.1
src/main/resources/data/files/student_data_backup.json
src/main/resources/data/files/settings.json